@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');



* {
    padding: 0%;
    margin: 0;
}

body {
    font-family: nunito-sans, sans-serif;
    font-size: 10px;
    background-color: #EDEEF0;
}

/*
logo text
nav link
smaller header text
larger text in header(h1)
bio heading(h2)
portfolio, skills, contact (h3)
h4
paragraph
*/


nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}



nav ul li {
    margin: 0px, 20px;

}




.logo-text {
    font-size: 3em;
    font-weight: 700;
    color: #f05136;
}

.nav-link {
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 0 20px;
}

.nav-link :hover {
    color: #f05136;
}

#home {
    background: black;
    color: white;
    height: 450px;
}

header div p {
    font-size: 2.5em;
    font-weight: 200;
}

h1,
h3,
h4 {
    font-weight: 800;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
    font-weight: 500;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.8em;
}

.link-button {
    text-decoration: none;
    text-align: center;
    background: #f05836;
    cursor: pointer;
    font-weight: 200;
    letter-spacing: 0.5px;
    color: white;
    font-size: 1.8em;
    padding: 10px;
    border-radius: 5%;
}

.link-buttton:hover {
    color: white;
}


#bio {
    display: flex;
    align-items: center;
}

#bio article * {
    margin: 20px;
}

.break {
    display: block;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

p {
    font-size: 1.5em;
}

hr {
    width: 400px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;

}

#portfolio {
    background: url();
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#portfolio h3,
p,
hr {
    margin-bottom: 20px;
}

#portfolio div {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    width: 100%;
}

#portfolio div article {
    background: white;
    color: black;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}

#portfolio img {
    margin-top: 5px;
    width: 60px;
    height: 60px;
}

#portfolio div article p {
    padding: 0 5px;
}

progress[value] {
    height: 30px;
    width: 350px;
    -webkit-apearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #f05836;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0.25, inset);
}

::-webkit-progress-value {
    background-color: #f05836;
}

#skill ul {
    font-size: 1.5em;
}

#contact {
    background-color: black;
    color: white;
}

.input {
    line-height: 2em;
    width: 350px;
    border-radius: 3px;
    border-color: black;
}